{% extends 'base.html' %}
{% load static %}
{% block content %}
  
    <div class="breadcumb-area bg-img bg-overlay" style="background-image: url({% static 'img/bg-img/hero-1.jpg' %})"></div>
    <br>
    <section class="dorne-about-area section-padding-0-100">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="about-content text-center">
                        <h2>Discover your city with <br><span>Dorne</span></h2>
                        <p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Fusce quis tempus elit. Sed efficitur tortor neque, vitae aliquet urna varius sit amet. Ut rhoncus, nunc nec tincidunt volutpat, ex libero.</p>
                    </div>
                </div>
            </div>

            
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                      <th scope="col">Service</th>
                                      <th scope="col">Start_Date</th>
                                      <th scope="col">End_Date</th>
                                      <th scope="col">Price</th>
                                      <th scope="col">Cancel</th>
                                      <th scope="col">Pay</th>
                                    </tr>
                                  </thead>
                                  {% for book in booking %}
                                    
                                  <tbody>
                                    <tr>
                                      <td>{{book.event.name}}</td>
                                      <td>{{book.start_date}}</td>
                                      <td>{{book.end_date}}</td>
                                      <td>&#8377; {{book.event.price|floatformat}}</td>
                                      <td><button>Cancel</button></td>
                                      <td><button>Pay</button></td>
                                    </tr>
                                  </tbody>
                                  {% endfor %}
                            </table>
                          </div>
                                <div class="feature-favourite">
                                    <a href="#"><i class="fa fa-check" aria-hidden="true"></i></a>
                                </div>
    </section>
        

{% endblock content %}