{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Forgot Password</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="{% static 'register_page/fonts/material-icon/css/material-design-iconic-font.min.css' %}">

    <!-- Main css -->
    <link rel="stylesheet" href="{% static 'register_page/css/style.css' %}">
</head>
<body>

  
  <div class="main">
    
    <!-- Sign in form -->
    <section class="sign-in">
      <div class="container">
        <div class="signin-content">
          <div class="signin-image">
            <figure><img src="{% static 'register_page/images/Forgot password-rafiki.png' %}" alt="sign up image"></figure>
            {% if request.GET.type == 'vendor' %}
              Not a Vendor? <a href="{% url 'vendor_register' %}">Signup</a>
            {% else %}
              Not a member? <a href="{% url 'register' %}">Signup</a>
            {% endif %}
          </div>
          
          <div class="signin-form">
            <h2 class="form-title">Reset Password</h2>
            <form method="POST" class="register-form" id="login-form">
              {% csrf_token %}
              {% for message in messages %}
              <h3 style="text-align: center;">{{message}}</h3>
              {% endfor %}
            <small>{% if email_sent %}
                    <div class="alert alert-success">
                        <h4>Email Sent</h4>
                        <p>
                            We've emailed you instructions for setting your password to {{ email }}. 
                            You should receive them shortly.
                        </p>
                        <p>
                            If you don't receive an email, please make sure you've entered the address you registered with, 
                            and check your spam folder.
                        </p>
                    </div>
                  </small>{% else %}
                      <h3 style="text-align: center;">{{ form.non_field_errors }}</h3>
                      <div class="signup_link">Enter your email to reset password</div>
                      <br>
                      <div class="form-group">
                          <label for="email"><i class="zmdi zmdi-email material-icons-name"></i></label>
                          <input type="email" required name="email" placeholder="Email"> 
                        </div>
                      {% comment %} <div class="form-group">
                          <label for="your_pass"><i class="zmdi zmdi-lock"></i></label>
                              {{ form.password.errors }}
                              {{ form.password }}
                      </div> {% endcomment %}
                      {% comment %} <div class="form-group">
                          <input type="checkbox" name="remember-me" id="remember-me" class="agree-term" />
                          <!--<label for="remember-me" class="label-agree-term"><span><span></span></span>Remember me</label>-->
                      </div> {% endcomment %}
                      <div class="form-group form-button">
                          <input type="hidden" name="next" value="{{ request.GET.next }}">
                          <input type="submit" name="signin" id="reset_pw" class="form-submit" value="Reset Password"/>
                         
                      </div>
                  </form>{% endif %}
                  <div class="social-login">
                      <ul class="socials">
                        {% if request.GET.type == 'vendor' %}
                          <li>Remember your Password? <a href="{% url 'vendor_login' %}">Login</a></li>
                        {% else %}
                          <li>Remember your Password? <a href="{% url 'login' %}">Login</a></li>
                        {% endif %}
                        </ul>
                  </div>
              </div>
          </div>
      </div>
  </section>
  </div>


    {% comment %} <div class="center">
      <h1>Reset Password</h1>

      {% if messages %}
          {% for message in messages %}
              {% if message.tags == 'error' %}
                  <center><h4 style="color: firebrick;">{{message}}</h4></center>
              {% else %}
                  <center><h4 style="color: dodgerblue;">{{message}}</h4></center>
              {% endif %}
          {% endfor %}
      {% endif %}
    
      <div class="signup_link">Enter your email to reset password</div>
      
      <form method="POST">

        {% csrf_token %}

        <div class="txt_field">
          <input type="email" required name="email">
          <span></span>
          <label>Email</label>
        </div>
        
        <input type="submit" value="Reset Password">
        <div class="signup_link">
          Not a member? <a href="{% url 'register' %}">Signup</a>
          <p>Remember your Password? <a href="{% url 'login' %}">Login</a></p> 
        </div>
      </form>
    </div> {% endcomment %}

  </body>
</html>