{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Forgot Password</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="{% static 'register_page/fonts/material-icon/css/material-design-iconic-font.min.css' %}">

    <!-- Main css -->
    <link rel="stylesheet" href="{% static 'register_page/css/style.css' %}">
</head>
<body>

  
  <div class="main">
    
    <!-- Sign in form -->
    <section class="sign-in">
      <div class="container">
        <div class="signin-content">
          <div class="signin-image">
            <figure><img src="{% static 'register_page/images/email_sent.jpg' %}" alt="sign up image"></figure>
            Remember Password? <a href="{% url 'login' %}">Login</a>
          </div>
          
          <div class="signin-form">
            <h2 class="form-title">Reset Password</h2>
            <form method="POST" class="register-form" id="login-form">
              {% csrf_token %}
              {% for message in messages %}
              <h3 style="text-align: center;">{{message}}</h3>
              {% endfor %}
            <small>
                    <div class="alert alert-success">
                        <p>
                            We've emailed you instructions for setting your password. 
                            You should receive them shortly.
                        </p>
                        <p>
                            If you don't receive an email, please make sure you've entered the address you registered with, 
                            and check your spam folder.
                        </p>
                    </div>
                  </small>

  </body>
</html>