{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Forgot Password</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="{% static 'register_page/fonts/material-icon/css/material-design-iconic-font.min.css' %}">

    <!-- Main css -->
    <link rel="stylesheet" href="{% static 'register_page/css/style.css' %}">
</head>
<body>

    <div class="main">

        <!-- Sign in form -->
        <section class="sign-in">
          <div class="container">
              <div class="signin-content">
                  <div class="signin-image">
                      <figure><img src="{% static 'register_page/images/reset_pw.jpg' %}" alt="sign up image"></figure>
                  </div>
  
                  <div class="signin-form">
                      <h2 class="form-title">New Password</h2>
                      <form method="POST" class="register-form" id="login-form">
                          {% csrf_token %}
                          {% for message in messages %}
                          <div class="alert alert-{% if message.tags == 'error' %}danger{% elif message.tags == 'warning' %}warning{% elif message.tags == 'info' %}info{% else %}success{% endif %}">
                            <small>
                                <ul style="list-style: none;color:red;"><li>{{ message }}</li></ul>
                            </small>
                        </div>
                          {% endfor %}
                          <h3 style="text-align: center;">{{ form.non_field_errors }}</h3>
                          <br>
                          <div class="form-group">
                              <label for="password"><i class="zmdi zmdi-lock"></i></label>
                              <input type="password" required name="password" placeholder="Enter new Password">
                          </div>
                          <div class="form-group">
                              <label for="confirm_password"><i class="zmdi zmdi-lock-outline"></i></label>
                              <input type="password" required name="confirm_password" placeholder="Confirm Password">
                          </div>
                          <div class="form-group">
                              <input type="checkbox" name="remember-me" id="remember-me" class="agree-term" />
                              <!--<label for="remember-me" class="label-agree-term"><span><span></span></span>Remember me</label>-->
                          </div>
                          <div class="form-group form-button">
                              <input type="hidden" name="next" value="{{ request.GET.next }}">
                              <input type="submit" name="reset_password" id="reset_confirm" class="form-submit" value="Reset Password"/>
                          </div>
                      </form>
                      <div class="social-login">
                          <ul class="socials">
                            <li>Remember your Password? <a href="{% url 'login' %}">Login</a></li>
                          </ul>
                      </div>
                  </div>
              </div>
          </div>
      </section>
      </div>

  </body>
</html>